/* .navbar-nav {
  margin-left: 60%;
} */

/* * {
  border: 3px solid black;
} */

 /* h2 {
  text-align: center;
  font-size: 4rem;
} */

img {
  width: 30%;
  height: 80%;
}

.main {
  background-color: beige;
}

.contact {
  background-color: beige;
}

.text-left {
  padding-left: 2%;
}

